/* =====  ===== */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ===== Global Variables ===== */
:root {
    /* ===== colors  ===== */
    --primary-color: #00C7B4;
    --secondary-color: #111827;
    --accent-color: #374151;
    --footer-bgc: #009E8F;
    --card-bgc: #F4F4F5;
    --hero-bgc: #E5FFFD;
    --white: #FFFFFF;

    /* ===== font  ===== */
    --font-title: 'Inter', sens-serif;
    --font-sub-title: 'Poppins', sens-serif;

    /* ===== font size  ===== */
    --title-fs-: 3.5rem;    /* 56px */
    --sub-title-fs-:1.5rem; /* 24px  */
    --body-fs-: 1rem;       /* 16px */

    /* ===== button radius ===== */
    --btn-radius: 8px;
}

/* ===== common style ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}