/* =====  ===== */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ===== Global Variables ===== */
:root {
    /* ===== colors  ===== */
    --primary-color: #00C7B4;
    --secondary-color: #111827;
    --accent-color: #374151;
    --footer-bgc: #009E8F;
    --card-bgc: #F4F4F5;
    --hero-bgc: #E5FFFD;
    --white: #FFFFFF;

    /* ===== font  ===== */
    --font-title: 'Inter', sans-serif;
    --font-sub-title: 'Poppins', sans-serif;

    /* ===== font size  ===== */
    --title-fs: 3.5rem;
    /* 56px */
    --sub-title-fs: 1.5rem;
    /* 24px  */
    --body-fs: 1rem;
    /* 16px */

    /* ===== button radius ===== */
    --b-radius: 8px;
}

/* ===== common style ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-title);
    font-size: var(--body-fs);
    background-color: var(--white);
    line-height: 1.2;
}

h1 {
    color: var(--secondary-color);
    font-size: var(--title-fs);
    font-weight: 900;
}

h2 {
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: 700;
}

h3 {
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 700;
}

p {
    color: var(--accent-color);
}

.text-color {
    color: var(--primary-color);
}

.container {
    /* 1200px */
    width: 75rem;
    margin: 0 auto;
    padding: 80px 0;

}

.flex {
    display: flex;
}

.margin-auto {
    margin: 0 auto;
}

.btn-primary {
    cursor: pointer;
    font-size: var(--body-fs);
    font-weight: 700;
    padding: 8px 16px;
    color: var(--white);
    border-radius: var(--b-radius);
    font-family: var(--font-title);
    background-color: var(--primary-color);
    border: 3px solid var(--primary-color);
}




/* ===== Navbar ===== */
.header {
    display: flex;
    padding: 16px 0;
    justify-content: space-between;
    /* border: 2px solid red; */
    gap: 32px;
    align-items: center;
}

.header>div {
    justify-self: end;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: 2px solid green; */
    flex: 1;
}

.navbar>ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

.navbar a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 0 8px;
}

/* Navbar button */
.nav-btn {
    font-size: var(--body-fs);
    padding: 8px 16px;
    color: var(--primary-color);
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: var(--b-radius);
    cursor: pointer;
}


/* ===== Hero Section Style ===== */
.hero {
    background-color: var(--hero-bgc);
    /* padding: 80px 0; */
}

.top-div {
    display: flex;
    gap: 50px;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    padding-bottom: 48px;
}

.left-div {
    flex: 1;
}

.pera-hero {
    padding: 24px 0;
    max-width: 567px;
    color: var(--accent-color);
}

.right-div {
    height: 573px;
    display: grid;
    gap: 16px;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
}

.right-div img:nth-child(1) {
    grid-row: span 2;
    height: 100%;
}

.right-div img:nth-child(3) {
    grid-row: span 2;
    height: 100%;
}

.right-div img {
    width: 100%;
    object-fit: cover;
    border-radius: var(--b-radius);
}

.bottom-div {
    text-align: center;
    font-weight: 500;
    font-size: var(--sub-title-fs);
    color: var(--accent-color);
}

/* ===== Why Us ===== */
.why_us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.whyUs_img_container {
    flex: 1;
}

.whyUs_img_container img {
    border-radius: var(--b-radius);
    height: 541px;
    width: 576px;
    display: block;
    object-fit: cover;
}

.why_us_content {
    flex: 1;
}

.why_us_divider {
    height: 4px;
    margin: 1rem 0;
    max-width: 57px;
    background-color: var(--primary-color);
}

.why_us_list {
    width: 493px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}

.why_us_list li {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    line-height: 1.5;
    gap: 16px;
}

.why_us_list i {
    color: var(--primary-color);
    font-size: 1.3rem;
}

/* ===== Sponsors ===== */
.sponsors {
    /* overflow: hidden; */
    white-space: nowrap;
    position: relative;
    padding: 24px 400px;
    background-color: var(--primary-color);
    color: var(--white);
}

.sponsors_motion {
    display: flex;
    gap: 80px;
    width: max-content;
    justify-content: space-between;
    animation: scroll 10s linear infinite;
}

.sponsors_motion:hover {
    animation-play-state: paused;
}

.sponsor-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 900;
    font-size: 1.2rem;
}

.sponsor-item img {
    width: 40px;
    height: 40px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50%);
    }
}


/* ===== Affiliate Section Style ===== */
.affiliate_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.affiliate_heading {
    text-align: center;
    width: 762px;
    margin: 0 auto;
}

.affiliate_heading>p {
    padding: 10px 0 55px;
}

.card_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}



.card_content {
    position: relative;
    margin-top: 187px;
    background-color: var(--card-bgc);
    border-radius: var(--b-radius);
    padding: 80px 24px 24px;
    width: 387px;
}

.card_img {
    position: absolute;
    top: -200px;
    left: 25px;
}

.card_img img {
    width: 339px;
    border-radius: 4px;
}

.card_details h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* ===== Get Paid For Customer ===== */
.section_bg {
    background-color: #FAFAFA;
    padding: 80px 0;
}

.get_paid>h4,
.get_paid>p {
    width: 750px;
    margin: 0 auto;
    color: var(--white);
}

.get_paid>h4 {
    padding: 80px 0 24px;
    font-size: 1.5rem;
    font-weight: 400;
}

.get_paid {
    background-image: url('../images/solar_play-bold.jpg');
    height: 519px;
    text-align: center;
}

.get_paid_second {
    text-align: center;


}

.get_paid_second h4 {
    font-size: 1.5rem;
    font-weight: 400;
    width: 930px;
    margin: 0 auto;
    padding: 48px 0 24px;
}

/* ===== Partner Section Styles */
.partner_section {
    display: flex;
    gap: 48px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.partner_content {
    width: 700px;
}

.partner_content>p {
    padding: 10px 0 24px;
    width: 565px;
}

.partner_img_container {
    position: relative;
}

.partner_img_container>img {
    height: 541px;
    width: 429px;
    object-fit: cover;
    border-radius: var(--b-radius);
}

.bg_image {
    position: absolute;
    top: 45%;
    right: 45%;
    height: 20px;
    width: 20px;
    padding: 20px;
    border-radius: 50%;
    background-image: url("../images/playIcon.svg");
    background-position: center;
    background-repeat: no-repeat;

}


/* ===== Gallery Section Styles ===== */

.gallery_section {
    text-align: center;
    background-color: var(--hero-bgc);

}

.gallery_img_container {
    margin-top: 48px;
    column-count: 3;
    column-gap: 20px;
}

.gellery_img {
    margin-bottom: 20px;
}

.gellery_img img {
    width: 100%;
    display: block;
}

/* ===== Testimonials ===== */
.testimoni_container {
    display: flex;
    gap: 24px;
    width: 100%;
    width: max-content;
    animation: infinite-scroll 30s linear infinite;
}

.testimoni-wrapper {

    overflow: hidden;
}

.testimoni-card {
    padding: 32px 24px;
    width: 520px;
    border-radius: var(--b-radius);
    border: 1px solid #D1D5DB;
}

.stars {
    margin-bottom: 8px;
}

.user_info {
    padding-top: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.user_info div {
    display: flex;
    flex-direction: column;
}

@keyframes infinite-scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-20%);
    }
}

/* ===== FAQ ===== */

.faq-section {
    background-color: var(--hero-bgc);
    padding: 80px 20px;
}

.faq-container {
    display: flex;
    gap: 80px;
}

.faq-left {
    flex: 1;
}

.faq-left h3 {
    margin-bottom: 15px;
}

.faq-left p {
    font-size: 14px;
    margin-bottom: 25px;
    color: #333;
}



/* Right Side */
.faq-right {
    flex: 2;
}

.faq-item {
    border-bottom: 1px solid #999;
    padding: 18px 0;
    cursor: pointer;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question h4 {
    font-size: 16px;
    font-weight: 600;
}

.icon {
    font-size: 18px;
    transition: transform 0.3s ease;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    font-size: 14px;
    color: #333;
}

/* Active State */
.faq-item.active .faq-answer {
    max-height: 150px;
    margin-top: 10px;
}

.faq-item.active .icon {
    transform: rotate(180deg);
}


/* ===== Contact Form ===== */
.contact-section {
    padding: 80px 0;
}

.contact-wrapper {
    display: flex;
    gap: 60px;
    align-items: center;
}

.contact-left {
    flex: 1;
}

.contact-left h2 {
    margin-bottom: 15px;
}

.contact-left p {
    margin-bottom: 25px;
}

.contact-box {
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid var(--card-bgc);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.contact-box i {
    align-content: center;
    font-size: 18px;
    height: 37px;
    width: 37px;
    color: var(--white);
    border-radius: 50%;
    background-color: var(--primary-color)
}
.contact-box > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
   padding-top: 25px;
}

.contact-right {
    flex: 1;
    background: url('../images/contact-form.jpg');
    object-fit: center;
    background-repeat: no-repeat;
    padding: 40px;
    border-radius: 12px;
    position: relative;
}

.contact-form-card {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
}

.contact-form-card h3 {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 10px;
}

form input,
form textarea {
    font-family: var(--font-sub-title);
    font-weight: 500;
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: var(--b-radius);
 
}

.form-error {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}

.form-btn{
    width: 100%;
}

/* ===== Footer ===== */
.footer {
    background-color: var(--footer-bgc);
    color: var(--white); 
}

.footer-top {
    display: flex;
    justify-content: space-between;
     width: 75rem;;
     padding: 80px 0 65px;
    /* gap: 60px; */
     margin: 0 auto;
}

.footer-col {
    flex: 1;
}

.footer-logo {
    width: 120px;
    /* margin-bottom: 20px; */
}

.footer-contact p {
    /* margin-bottom: 10px; */
    color: var(--white);
    font-size: 14px;
}

.footer-contact i {
    margin-right: 8px;
}

/* Links */
.footer-col h4 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: var(--white);
}

.footer-links {
    list-style: none;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
    transition: 0.3s;
}

.footer-links a:hover {
    opacity: 0.8;
}

/* Subscribe */
.footer-subscribe {
    display: flex;
    background: rgba(255,255,255,0.2);
    border-radius: var(--b-radius);
    overflow: hidden;
    margin-top: 15px;
}

.footer-subscribe input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
}

.footer-subscribe button {
    background: var(--primary-color);
    border: none;
    padding: 0 15px;
    cursor: pointer;
    color: var(--white);
}

/* Bottom */
.footer-bottom {
    border-top: 1px solid rgba(255,255,255,0.3);
    margin-top: 40px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom p {
    font-size: 13px;
    color: var(--white);
}

.footer-social i {
    margin-left: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.footer-social i:hover {
    opacity: 0.7;
}







@media only screen and (max-width:600px) {
    :root {
        --title-fs: 2rem;
        /* 32px */
        --sub-title-fs: 1rem;
        /* 20px  */
    }

    .container {
        max-width: 90%;
        width: 32rem;
        margin: 0 auto;
    }


    h1,h2,h3 {
        text-align: center;
    }

    .navbar ul,
    .nav-btn {
        display: none;
    }

    .hero {
        background-color: var(--hero-bgc);
        padding: 48 px 0;
    }

    .right-div{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .right-div img {
        height: 150px;
    }

    


    .header>div:last-child {
        display: none;
    }

    .navbar>ul,
    nav-btn {
        display: none;
    }

    .top-div {
        flex-direction: column-reverse;
        text-align: center;
        /* gap: 32px; */
    }

     

    .right-div img:nth-child(1),
    .right-div img:nth-child(3) {
        grid-row: span 1;
        height: 200px;
    }

    .why_us {
        flex-direction: column;
    }

    .whyUs_img_container img {
        height: 100%;
        width: 100%;
    }

    .why_us_list {
        width: 360px;
    }

    .sponsors {
        gap: 6px;

        padding: 24px 40px;

    }
     

    .sponsors_motion {
        display: flex;
        gap: 20px;
        width: max-content;
        justify-content: space-between;
        animation: scroll 10s linear infinite;
    }

    .sponsors_motion:hover {
        animation-play-state: paused;
    }

    .sponsor-item {
        font-size: 1rem;
    }

    .sponsor-item img {
        width: 20px;
        height: 20px;
    }

     .form-row {
        flex-direction: column;
    }
    .footer-subscribe {
        flex-direction: column;
    }
    .footer-subscribe button {
        padding: 10px;
    }


}